* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
body {
  background-image: linear-gradient(to right, #178585 0%, #9d42d2a3 100%);
}
#head {
  width: 400px;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url(b1.jpg);
  border-radius: 250px;
  margin: 15px 0px 0px 02px;
}
#im2:hover {
  transform: scale(1.1);
}
nav {
  margin: -600px 0px 0px 400px;
  background-image: linear-gradient(to bottom, #8baaaa 0%, #ae8b9c 100%);  width: 807px;
  height: 40px;
  border-radius: 400px;
    display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0px 0px 20px 20px;
  margin: 20px 35px;
}
nav ul li a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  transition: transform(0.2s);
  color: #f0fffffa;
}
nav ul li a:hover {
  cursor: pointer;
  color: #ff0000;
  transform-box: scale(1.6);
}
.intro {
  margin: 50px 700px 0px 700px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab", serif;
  display: inline;
  font-weight: 900;
  font-size: 30px;
}
.intro h2 {
  margin: 20px 0px 0px 500px;
  font-size: 80px;
}
.intro h2 span {
  color: #ff004f;
  margin-left: 110px;
}
.heading {
  padding: 30px 0px 0px 450px;
  color: azure;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 60px;
}
.heading,
.heading span.nm {
  font-size: 100px;
  margin-left: 50px;
}
.heading span.nm {
  margin: 0px 0px 0px -10px;
  color: #ff004f;
}
.n1 {
  font-size: 35px;

  color: #fffeff;
  margin: 0px 0px 0px 580px;
  padding: 0px 0px 0px 0px;
  font-family: "Times New Roman", Times, serif;
}
#im2 {
  height: 490px;
  width: 251px;
  background-image: url(b2.png);
  border-radius: 70px;
  transition: transform (0.1s);
  margin: 220px 0px 0px 958px;
}
.abth h2 {
  color: azure;
  font-family: "Roboto Slab", serif;
  margin: -500px 0px 0px 400px;
  font-size: 40px;
  font-weight: 600;
}
.abth p {
  color: azure;
  font-family: "Roboto Slab", serif;
  margin: 20px 0px 0px 50px;
  font-size: 20px;
  font-weight: 300;
}
.breif ul li {
  display: inline;
  list-style-type: none;
  color: aliceblue;
  margin: 30px 0px 0px 0px;
  padding: 10px 0px 100px 140px;
  font-size: 30px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.skills ul li {
  color: aliceblue;
  
  margin: 20px 0px 0px 90px;
  font-size: 18px;
  font-weight: 300;
}
.skills ul li span {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.interests ul li {
  color: aliceblue;
 
  margin: -79px 0px 0px 370px;
  font-size: 18px;
  font-weight: 300;
}
.interests ul li span {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.lang ul li {
  margin: -72px 0px 0px 650px;

  color: aliceblue;
  font-size: 18px;
  font-weight: 300;
}
.lang ul li span {
  color: #000000;
}
.det {
  color: #fffeff;
}
.contact {
  margin: 200px 0px 0px 200px;
  color: azure;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 600;
}

.det p {
  border: 2px solid rgb(235, 217, 217) smoke;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 300;
  margin: 30px 0px 0px 190px;
}
html {
  scroll-behavior: smooth;
}
.det p span {
  color: #000000;
}
.dow {
  margin: 30px 0px 0px 200px;
  font-size: 30px;
  font-weight: 400;
  color: solid black;
}
button {
  background-color: #ff0000;
  padding: 10px;
}
button a {
  text-decoration: none;
  color: #fffeff;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
button a:hover {
  color: #00ccff;
}
form {
  margin: -270px 0px 0px 800px;
  display: grid;
  row-gap: 15px;
  color: #ff0000;
  width: 300px;
}
form h2 {
  color: azure;
  font-size: 30px;
  font-weight: 600;
  margin: -12px 0px 0px 0px;
  font-family: "Roboto Slab", serif;
}
form.name {
  background-color: antiquewhite;
  border: 2px solid rgb(13, 13, 13);
}
form button {
  width: 80px;
  color: #fffeff;
  border-radius: 20px;
}

form button:hover {
  cursor: pointer;
  color: #0c0c0c;
}
form input,
form textarea {
  border: 1px solid #ff0000;
  color: black;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  background-color: rgb(202, 202, 202);
}
form textarea::placeholder {
  color: rgb(0, 34, 253);
}
form input::placeholder {
  color: rgb(0, 34, 253);
}
#msg {
  color: rgb(2, 245, 2);
  margin: -30px 30px 0px 920px;
  width: 170px;
  background-color: rgb(0, 0, 0);
  display: block;
}
@media only screen and (max-width: ) {
        
}